<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289940731881-5hm1uotleahg7pla9krnkqe396n5lfvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289940731881-5hm1uotleahg7pla9krnkqe396n5lfvu</string>
	<key>API_KEY</key>
	<string>AIzaSyDWjEln3MPuFzm0hzhNxgwUl-Aim4YjtMg</string>
	<key>GCM_SENDER_ID</key>
	<string>289940731881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.christianhurtado.GuitarUploader</string>
	<key>PROJECT_ID</key>
	<string>guitaruploader-f01db</string>
	<key>STORAGE_BUCKET</key>
	<string>guitaruploader-f01db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289940731881:ios:e6c87d34749a609214fd78</string>
	<key>DATABASE_URL</key>
	<string>https://guitaruploader-f01db.firebaseio.com</string>
</dict>
</plist>